{% extends 'profile_base.html' %}

{% block page_title %}

{{user.username}}

{% endblock %}

{% block f_status %}

  {% if get_user == user %}
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <span data-feather="calendar"></span>
      Edit Profile
    </button>
  {% else %}

    <div class="container" id="follow_un">
    {% if user.profile in get_user_profile  %}
<button hx-post="{% url 'follow' user.id %}" hx-target="#follow_un" hx-swap="innerhtml" type="button" class="btn btn-sm btn-outline-secondary">
<span data-feather="calendar"></span>
  Unfollow
</button>
{% else %}
<button hx-post="{% url 'follow' user.id %}" hx-target="#follow_un" hx-swap="innerhtml" type="button" class="btn btn-sm btn-outline-secondary">
<span data-feather="calendar"></span>
Follow   
</button>
{% endif %}
    </div>
  {% endif %}

{% endblock %}

{% block content %}

well well
{% endblock %}