<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'profile' user.username %}">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_blogs' %}">
              <span data-feather="file"></span>
              My Blogs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'saved_blogs' %}">
              <span data-feather="shopping-cart"></span>
              Saved Blogs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'following' %}">
              <span data-feather="users"></span>
              Following
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'followers' %}">
              <span data-feather="bar-chart-2"></span>
              Followers
            </a>
          </li>
        </ul>
      </div>
    </nav>