{% extends 'base.html' %}



    {% block top_blog %}

      <h1 class="display-4 fst-italic">{{ most_liked_post.title }}</h1>
      <p class="lead my-3">{{ most_liked_post.short_content }}</p>
      <p class="lead mb-0"><a href="{% url 'post_detail' slug=most_liked_post.slug %}" class="text-white fw-bold">Continue reading</a></p>

    {% endblock %}



  {% block content %}
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ second_most_liked_post.categories.name }}</strong>
          <h3 class="mb-0">{{ second_most_liked_post.title }}</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">{{ second_most_liked_post.short_content }}</p>
          <a href="{% url 'post_detail' slug=second_most_liked_post.slug %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{ third_most_liked_post.categories.name }}</strong>
          <h3 class="mb-0">{{ third_most_liked_post.title }}</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">{{ third_most_liked_post.short_content }}</p>
          <a href="{% url 'post_detail' slug=third_most_liked_post.slug %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Blog of the week
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">{{ most_liked_post.title }}</h2>
        <p class="blog-post-meta">{{ most_liked_post.created_at }} by <a href="#">{{ most_liked_post.author.username }}</a></p>

        <p>{{ most_liked_post.content }}.</p></br>
        <hr></br>

        <div id="like_id">
        {% if post in liked_post  %}
        <i hx-post="{% url 'like_count2' most_liked_post.id %}" hx-target="#like_id" hx-swap="innerhtml" class="fa-solid fa-heart" style="color:darkgrey;"></i><b>{{ most_liked_post.post.likes }}</b>
        {% else %}
        <i hx-post="{% url 'like_count2' most_liked_post.id %}" hx-target="#like_id" hx-swap="innerhtml" class="fa fa-heart-o" style="color:darkgrey;"></i><b>{{ most_liked_post.likes }}</b>
        {% endif %}
        </div>
        
      </article>

      

      <article class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <ul>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ul>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

{% endblock %}

    